@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

/*font-family: 'Lobster', cursive; Titulos*/
/*font-family: 'Bitter', serif; Otros textos*/
/*font-family: 'Montserrat Alternates', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño de la ventana del navegador */
    z-index: 0;
}

:root {
    --Negro: #252525;
    --gris: #D7D5D3;
    --Azul1: #00112D;
    --Azul2: #011640;
    --Azul3: #297EA3;
    --Azul4: #79DCF2;
    --Azul5: #BFF9FF;
    --azul: #007bff;
    --azul1: #0056b3;
    --rojo: #AE2012;
    --rojo1: #9B2226;
    --verde: #558B2F;
    --verde1: #33691E;
    --naranja: #CA6702;
    --naranja1: #BB3E03;
    --Otro: #c2dffe;
}

.bg-Negro {
    background-color: var(--Negro);
}

.bg-gris {
    background-color: var(--gris);
}

.bg-Azul1 {
    background-color: var(--Azul1);
}

.bg-Azul2 {
    background-color: var(--Azul2);
}

.bg-Azul3 {
    background-color: var(--Azul3);
}

.bg-Azul4 {
    background-color: var(--Azul4);
}

.bg-Azul5 {
    background-color: var(--Azul5);
}

.bg-azul {
    background-color: var(--azul);
}

.bg-azul1 {
    background-color: var(--azul1);
}

.bg-rojo {
    background-color: var(--rojo);
}

.bg-rojo1 {
    background-color: var(--rojo1);
}

.bg-verde {
    background-color: var(--verde);
}

.bg-verde1 {
    background-color: var(--verde1);
}

.bg-naranja {
    background-color: var(--naranja);
}

.bg-naranja1 {
    background-color: var(--naranja1);
}

.bg-Otro {
    background-color: var(--Otro);
}

.text-gris {
    color: var(--gris);
}

.text-Azul5 {
    color: var(--Azul5);
}
